<!DOCTYPE html>
<html lang="en">
<head>
    {% spaceless %}

    {% block head %}
    <link rel="stylesheet" href="style.css" />
    {#TODO://pack all css and js in 1 file#}
    <script src="/assets/js/lib/jquery-3.3.1.js" ></script>
    <script src="/assets/js/lib/jquery-3.3.1.js" ></script>
    <script src="/assets/js/lib/bootstrap.js"></script>
    <script src="/assets/js/dist/jquery.validate.min.js"></script>
    <script src="/assets/js/auth_users.js"></script>
    <script src="/assets/js/reg_users.js"></script>
    <script src="/assets/js/myscripts/account_tabs.js"></script>
    <title>{% block title %}{% endblock %} - Мой Милый сайт</title>
</head>
<body>
    {% block menu_min %}
        <nav class="top-bar animate-dropdown">
            <div class="container">
                <div class="col-xs-12 col-sm-6 no-margin">
                    <ul id="navigation">
                        {% for item in navigation %}
                            <li><a href="{{ item.href }}">{{ item.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6 no-margin">
                    <ul class="right">
                        <li class="dropdown" id="languge_dropdown">
                            <a class="dropdown-toggle"  data-toggle="dropdown" href="#change-language">Русский</a>
                            <ul class="dropdown-menu" role="menu" >
                                {% for language in languages %}
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">{{ language.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% if auth.status == true %}
                            <li><a href="auth">Ваш Аккаунт {{ auth.name }}</a></li>
                        {% else %}
                            <li><a href="auth">Регистрация</a></li>
                            <li><a href="auth">Логин</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    {% endblock %}

    {% block content %}{% endblock %}

    {% block footer %}
        &copy; Copyright {{ current.year }} by <a href="/">{{ site.name }}</a>
    {% endblock %}

    {% endspaceless %}
</body>
</html>